body {
    font-family: "Lato", sans-serif !important;
    padding: 0;
    margin: 0;
    background: rgba(0, 0, 0, 0);
}

.contentRead {
    overflow-y: auto;
    padding: 15px 40px;
    height: 585px;
    font-size: 12px;
    margin-top: 22px;
    display: none;
    BACKGROUND: WHITE;
    OPACITY: 1;
    border-top: 1px solid #99F8FF;
    border-bottom: 1px solid #99F8FF;
    border-right: 1px solid #99F8FF;
    border-left: 1px solid #99F8FF;
}

#content0 {
    display: block;
}

#readingPane {
    float: left;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    box-shadow: 0px 5px 6px #99F8FF;
    -webkit-box-shadow: 0px 5px 6px #99F8FF;
    background: white;
    behavior: url(/pie/PIE.htc);
    height: 633px;
    display: block;
    width: 720px;
    border: 1px solid #ccc;
    opacity: 1;
    BACKGROUND: GHOSTWHITE;
    border-radius: 6px;
    color: black;
}

.pointers {
    color: #707070;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    padding-top: 3px;
}

.pointers:hover {
    color: black;
}

.heading {
    position: absolute;
    width: 97%;
    text-align: center;
    -webkit-app-region: drag;
    height: 22px;
}

img {
    max-width: 650px
}

#backButton {
    width: 42px;
    height: 42px;
}

.backImg {
    width: 28px;
    height: 28px;
    margin-top: 15px;
    border-radius: 50%/50%;
    background-color: white;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    cursor: pointer;
    left: -20px;
}

.backImg:hover, .editImg:hover {
    width: 42px;
    height: 42px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 0 10px rgba(153, 248, 255, 0.6);
    -o-box-shadow: 0 0 10px rgba(153, 248, 255, 0.6);
}

.editImg {
    width: 28px;
    height: 28px;
    margin-top: 15px;
    border-radius: 50%/50%;
    background-color: white;
    cursor: pointer;
}

.incDetContainer {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6));
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6));
    -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6));
    padding-left: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.navigation {
    height: 40px;
}

.incDetContainer1 {
    border-bottom: 1px solid #99F8FF;
    margin-bottom: 10px;
    cursor: pointer;
    padding-bottom: 25px;
    padding-top: 5px;
}

#parentDisable {
    display: none;
    position: fixed;
    top: 24px;
    left: 0;
    background: white;
    opacity: 0.8;
    z-index: 998;
    height: 94%;
    width: 99%;
}

input[type=radio] {
    margin-top: 1px;
}

.appRadio {
    border-bottom: 1px solid #99F8FF;
    height: 45px;
    padding-top: 10px;
    padding-left: 10px;
}

.didntAnswer {
    margin-top: 65px;
    margin-left: 97px;
    background-color: ghostwhite;
    width: 524px;
    height: 500px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6));
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6));
    -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6));
}

.scrollList {
    overflow-y: auto;
    height: 400px;
}

#loading-wrapper {
    position: fixed;
    background: white;
    opacity: 0.8;
    width: 99%;
    height: 94%;
    left: 0;
    top: 24px;
}

#loading-text {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #999;
    width: 100px;
    height: 30px;
    margin: -7px 0 0 -45px;
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 20px;
}

#loading-content {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 170px;
    height: 170px;
    margin: -85px 0 0 -85px;
    border: 3px solid #F00;
}

#loading-content:after {
    content: "";
    position: absolute;
    border: 3px solid #0F0;
    left: 15px;
    right: 15px;
    top: 15px;
    bottom: 15px;
}

#loading-content:before {
    content: "";
    position: absolute;
    border: 3px solid #00F;
    left: 5px;
    right: 5px;
    top: 5px;
    bottom: 5px;
}

#loading-content {
    border: 3px solid transparent;
    border-top-color: #4D658D;
    border-bottom-color: #4D658D;
    border-radius: 50%;
    -webkit-animation: loader 2s linear infinite;
    -moz-animation: loader 2s linear infinite;
    -o-animation: loader 2s linear infinite;
    animation: loader 2s linear infinite;
}

#loading-content:before {
    border: 3px solid transparent;
    border-top-color: #D4CC6A;
    border-bottom-color: #D4CC6A;
    border-radius: 50%;
    -webkit-animation: loader 3s linear infinite;
    -moz-animation: loader 2s linear infinite;
    -o-animation: loader 2s linear infinite;
    animation: loader 3s linear infinite;
}

#loading-content:after {
    border: 3px solid transparent;
    border-top-color: #84417C;
    border-bottom-color: #84417C;
    border-radius: 50%;
    -webkit-animation: loader 1.5s linear infinite;
    animation: loader 1.5s linear infinite;
    -moz-animation: loader 2s linear infinite;
    -o-animation: loader 2s linear infinite;
}

@-webkit-keyframes loaders {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#content-wrapper {
    color: #FFF;
    position: fixed;
    left: 0;
    top: 20px;
    width: 100%;
    height: 100%;
}

#header {
    width: 800px;
    margin: 0 auto;
    text-align: center;
    height: 100px;
    background-color: #666;
}

#content {
    width: 800px;
    height: 1000px;
    margin: 0 auto;
    text-align: center;
    background-color: #888;
}