<!DOCTYPE html>
<html lang="en">
<head><title>SmartBot</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>if (typeof module === 'object') {
        window.module = module;
        module = undefined;
    }</script>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/popup.css">
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../node_modules/angular/angular.min.js"></script>
    <script src="../node_modules/angular-sanitize/angular-sanitize.js"></script>
    <script src="../controller/popup.js"></script>
    <script>if (window.module) module = window.module;</script>
    <script>
        const shell = require('electron').shell;
        $(document).on('click', 'a[href^="http"]', function (event) {
            event.preventDefault();
            shell.openExternal(this.href);
        });
        function viewMoreResults() {
            document.getElementById("content0").style.display = "none";
            document.getElementById("content1").style.display = "block";
        }
        function showPrev() {
            document.getElementById("content1").style.display = "none";
            document.getElementById("content0").style.display = "block";
        }
        function showAppList() {
            document.getElementById("parentDisable").style.display = "block";
            document.getElementById("didntAnswer").style.display = "block";
            document.getElementById("content1").style.display = "none";
            document.getElementById("content0").style.display = "block";
        }
        function closeApplist() {
            document.getElementById("parentDisable").style.display = "none";
            document.getElementById("didntAnswer").style.display = "none";
        }
        const ipcRenderer = require("electron").ipcRenderer;

        const rem = require('electron').remote;
        const dialog = rem.dialog;
        function openUploadWindow() {
            ipcRenderer.send("upload-box");
        }
        function clickNext() {
            var nextValue = 0;
            var counter = parseInt(document.getElementById('counter').value);
            var totalPages = parseInt(document.getElementById('finalCounter').value);
            var finalCounter = totalPages - 1;
            var id = "content" + counter;
            if (counter == finalCounter) {
                counter = -1;
            }
            nextValue = counter + 1;
            document.getElementById('counter').value = nextValue;
            document.getElementById(id).style.display = 'none';
            document.getElementById("content" + nextValue).style.display = 'block';
            document.getElementById("pageNumber").innerHTML = (parseInt(nextValue) + 1) + "&nbsp;/&nbsp;" + totalPages;
        }
        function clickPrevious() {
            var pastValue = 0;
            var counter = parseInt(document.getElementById('counter').value);
            var totalPages = parseInt(document.getElementById('finalCounter').value);
            var finalCounter = totalPages - 1;
            var id = "content" + counter;
            if (counter == 0) {
                counter = finalCounter + 1;
            }
            pastValue = counter - 1;
            document.getElementById('counter').value = pastValue;
            document.getElementById(id).style.display = 'none';
            document.getElementById("content" + pastValue).style.display = 'block';
            document.getElementById("pageNumber").innerHTML = (parseInt(pastValue) + 1) + "&nbsp;/&nbsp;" + totalPages;
        }
        function showDetails(incidentId) {
            document.getElementById('incidentContainer').style.display = "none";
            document.getElementById(incidentId + 'container').style.display = "block";
            document.getElementById(incidentId).style.color = "#551A8B";
        }
        function goBack(incidentId) {
            document.getElementById('incidentContainer').style.display = "block";
            document.getElementById(incidentId + 'container').style.display = "none";
        }
        $(document).ready(function () {
            $(document).on('click', "div[id^='block']", function () {
                let divID = $(this).attr('id');
                if ($("#" + divID + "feedback").is(":visible")) {
                    $(this).css("height", "60px").css("display", "-webkit-box");
                    $("#" + divID + "feedback").hide();
                } else {
                    $(this).css("height", "auto").css("display", "block");
                    $("#" + divID + "feedback").show();
                }
                for (i = 0; i < 10; i++) {
                    if (divID != "block" + i)$("#block" + i).css('height', '60px').css("display", "-webkit-box");
                    if (divID + "feedback" != "block" + i + "feedback") {
                        $("#block" + i + 'feedback').hide();
                    }
                }
            });
        });
        function thumbsUp(ele) {
            var number = $(ele).attr('id').split("-")[1];
            var id = $(ele).attr('id');
            if ($("#" + id).css("backgroundColor") == "rgba(0, 0, 0, 0)") {
                $("#" + id).css("backgroundColor", "greenyellow");
                $("#" + id).attr("value", "true");
            } else {
                $("#" + id).css("backgroundColor", "rgba(0, 0, 0, 0)");
                $("#" + id).attr("value", "false");
            }
            $("#downImage-" + number).attr("value", "false");
            $("#downImage-" + number).css("backgroundColor", "rgba(0, 0, 0, 0)")
        }
        function thumbsDown(ele) {
            var number = $(ele).attr('id').split("-")[1];
            var id = $(ele).attr('id');
            if ($("#" + id).css("backgroundColor") == "rgba(0, 0, 0, 0)") {
                $("#" + id).css("backgroundColor", "blueviolet");
                $("#" + id).attr("value", "true");
            } else {
                $("#" + id).css("backgroundColor", "rgba(0, 0, 0, 0)");
                $("#" + id).attr("value", "false");
            }
            $("#upImage-" + number).attr("value", "false");
            $("#upImage-" + number).css("backgroundColor", "rgba(0, 0, 0, 0)")
        }
        const remote = require('electron').remote;
        var payload = [];
        function closeWindow() {
            var email = $("#upImage-0").attr("email");
            for (i = 0; i < 10; i++) {
                if ($("#upImage-" + i).attr("value") === "true") {
                    payload.push({
                        "id": $("#upImage-" + i).attr("answerId") + "test",
                        "question": $("#upImage-" + i).attr("question"),
                        "keyword": $("#upImage-" + i).attr("keyword"),
                        "appName": $("#upImage-" + i).attr("appName"),
                        "rank": "good"
                    })
                } else if ($("#downImage-" + i).attr("value") === "true") {
                    payload.push({
                        "id": $("#upImage-" + i).attr("answerId") + "test",
                        "question": $("#upImage-" + i).attr("question"),
                        "keyword": $("#upImage-" + i).attr("keyword"),
                        "appName": $("#upImage-" + i).attr("appName"),
                        "rank": "bad"
                    })
                }
            }
            ipcRenderer.send("rankResults", {email: email, payload: payload});
            window.close();
        }
    </script>
</head>
<body>
<div id="readingPane" ng-app="popupSearchApp" ng-controller="popupSearch">
    <div class="heading"></div>
    <div id="parentDisable" ng-style="parentDisableStyle"></div>
    <loading></loading>
    <div id="close" style="float: right; margin-right: 5px; height: 20px;">
        <button type="button" class="close" aria-label="Close" onclick="closeWindow()"><span
                aria-hidden="true">&times;</span></button>
    </div>


    <div ng-if="isCloudantData">
        <div class="contentRead" id="content0">
            <div class="container" id="incidentContainer" style="display:block"><h2>Incidents</h2>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Priority</th>
                            <th>Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="d in cloudantData">
                            <td class="incident" id="{{d.incidentId}}" style="cursor:pointer;color:#0000EE;"
                                ng-click='showDetails(d.incidentId)'>{{d.incidentId}}
                            </td>
                            <td>{{d.priority}}</td>
                            <td ng-bind-html="truncate(d.incidentDesc)"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div ng-repeat="d in cloudantData" id="{{d.incidentId}}container" class="incDetContainer"
                 style="display:none">
                <div class="navigation">
                    <div id="backButton" ng-click="goBack(d.incidentId)" style="marign:0;padding:0; float:left;">
                        <img src="../assets/img/back.png"
                             class="backImg" alt="Back"></div>
                    <div id="editButton" style="padding:0;float:right;margin-right:10px;"><img
                            src="../assets/img/edit.png"
                            class="editImg" alt="Edit"></div>
                </div>
                <div class="card" style="width: 50rem;margin-left:20px;margin-right:20px;">
                    <div style="width: 560px;word-break: break-word;" class="card-block">
                        <h2 class="card-title">{{d.incidentId}}</h2>
                        <h4 class="card-title">{{d.applicationName}}</h4>
                        <h4 class="card-title">{{d.assignmentGroup}}</h4>

                        <p class="card-text priority"><b>Priority: {{d.priority}}</b>&nbsp;&nbsp;&nbsp;&nbsp;<b
                                style="margin-left: 50px;">Assigned to:</b> {{d.assignedTo}}&nbsp;&nbsp;&nbsp;&nbsp;<b
                                style="margin-left: 50px;">Status:</b> {{d.status}}</p>

                        <p class="card-text description" ng-bind-html="lineBreaks('<b>Description:</b><br/>'+ d.incidentDesc)"></p>
                        <p class="card-text description" ng-bind-html="lineBreaks('<b>Work Notes:</b><br/>'+ d.workNotes)"></p>
                    </div>
                </div>
            </div>


        </div>
    </div>


    <div ng-if="!isCloudantData">
        <div ng-if="snippet.length > 5" class="contentRead" id="content1" ng-style="content1Style">
            <div class="incDetContainer1" ng-repeat="msg in snippet | limitTo: 5-snippet.length">
                <div id="block{{$index+5}}"
                     style="height: 60px; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 2;-webkit-box-orient: vertical;text-overflow: ellipsis;"
                     ng-bind-html="clean(msg)"></div>
            </div>
            <div style="float: left;width: 33%" onclick="showPrev()"><a href>&lt;&lt; Back</a></div>
            <div style="float: left;text-align: center;width: 33%" ng-click="webSearch()"><a href>Search on Web</a>
            </div>
            <div style="float: left;text-align: right;width: 33%" ng-click="showApplicationList()"><a href>Didn't
                get
                your answer?</a></div>
        </div>
        <div id="didntAnswer" class="didntAnswer" ng-style="didntAnswerStyle"
             style="display: none;position: absolute; z-index:999">
            <div id="close"
                 style="float: right; margin-top: -10px;margin-right: -5px;" onclick="closeApplist()">
                <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="selectApp" style="height: 500px"><p>Please select the application in which you want to
                search:</p>

                <form ng-submit="sendSearchData()">
                    <div class="scrollList">
                        <div ng-repeat="app in appListNames" class="radio appRadio"><label><input type="radio"
                                                                                                  style="margin-top: 4px;"
                                                                                                  ng-model="$parent.appName"
                                                                                                  value={{app.shortName}}+{{app.name}}>{{app.name}}</label>
                        </div>
                        <div ng-switch="appName">
                            <div ng-switch-when="noneOfTheAbove+None of the above" onclick="openUploadWindow()">
                                <button style="float: right; margin-top: -52px;  margin-left: 220px;"
                                        id="submit"
                                        type="submit" class="btn btn-primary">Upload Document for new Application
                                </button>
                            </div>
                        </div>
                    </div>
                    <div style="margin: auto; width: 12%">
                        <button style="margin-top: 10px" id="submit" type="submit" class="btn btn-primary">Done
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="contentRead" id="content0" ng-style="content0Style">
            <p ng-if="snippet.length === 0" ng-style="lookingFor" style="font-size: 14px;"><b>Looking for the best
                answers
                ...</b></p>

            <p ng-if="snippet.length > 0" style="font-size: 14px;"><b>Here are the best answers for:
                <i>{{newQuestion}}</i></b>
            </p>

            <p ng-style="noResultMessage" style="display:none; font-size: 14px;"><b>Sorry no results were found for
                <i>{{newQuestion}}</i>.
                Please close the window and repharse your search</b></p>

            <div class="incDetContainer1" ng-repeat="msg in snippet | limitTo: 5">
                <div id="block{{$index}}"
                     style="height: 60px; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 2;-webkit-box-orient: vertical;text-overflow: ellipsis;"
                     ng-bind-html="clean(msg)"></div>
            </div>
            <div ng-if="snippet.length > 5" class="viewMore" style="float: right" onclick="viewMoreResults()"><a
                    href="">View
                more &gt;&gt;</a></div>
            <div ng-if="snippet.length <= 5" style="float: left" ng-click="webSearch()"><a href>Search on Web</a>
            </div>
            <div ng-if="snippet.length <= 5 && snippet.length > 0" style="float: right"
                 ng-click="showApplicationList()"><a
                    href>Didn't get your answer?</a></div>
            <input type="hidden" value="0" id="counter"/><input type="hidden" value="10" id="finalCounter"/>

            <div class="pointers" style="display: none"><span id="prev" style="cursor: pointer"
                                                              onclick="clickPrevious()"> < &nbsp;&nbsp;&nbsp; </span>
                <span id="pageNumber"> 1&nbsp;/&nbsp;10 </span><span id="next" style="cursor: pointer"
                                                                     onclick="clickNext()"> &nbsp;&nbsp;&nbsp; > </span>
            </div>
        </div>

    </div>


</div>
</body>
</html>